src/conf/xml-resources/web-service-references/WS/wsdl/localhost_8080/WebService/WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="WS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/WebService/WS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="GraficarAdministradores">
<part name="parameters" element="tns:GraficarAdministradores"/>
</message>
<message name="GraficarAdministradoresResponse">
<part name="parameters" element="tns:GraficarAdministradoresResponse"/>
</message>
<message name="LoginEstacionClave">
<part name="parameters" element="tns:LoginEstacionClave"/>
</message>
<message name="LoginEstacionClaveResponse">
<part name="parameters" element="tns:LoginEstacionClaveResponse"/>
</message>
<message name="LoginEstacionGeneral">
<part name="parameters" element="tns:LoginEstacionGeneral"/>
</message>
<message name="LoginEstacionGeneralResponse">
<part name="parameters" element="tns:LoginEstacionGeneralResponse"/>
</message>
<message name="CrearAdministrador">
<part name="parameters" element="tns:CrearAdministrador"/>
</message>
<message name="CrearAdministradorResponse">
<part name="parameters" element="tns:CrearAdministradorResponse"/>
</message>
<message name="LoginAdministrador">
<part name="parameters" element="tns:LoginAdministrador"/>
</message>
<message name="LoginAdministradorResponse">
<part name="parameters" element="tns:LoginAdministradorResponse"/>
</message>
<portType name="WS">
<operation name="hello">
<input wsam:Action="http://webservice/WS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice/WS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="GraficarAdministradores">
<input wsam:Action="http://webservice/WS/GraficarAdministradoresRequest" message="tns:GraficarAdministradores"/>
<output wsam:Action="http://webservice/WS/GraficarAdministradoresResponse" message="tns:GraficarAdministradoresResponse"/>
</operation>
<operation name="LoginEstacionClave">
<input wsam:Action="http://webservice/WS/LoginEstacionClaveRequest" message="tns:LoginEstacionClave"/>
<output wsam:Action="http://webservice/WS/LoginEstacionClaveResponse" message="tns:LoginEstacionClaveResponse"/>
</operation>
<operation name="LoginEstacionGeneral">
<input wsam:Action="http://webservice/WS/LoginEstacionGeneralRequest" message="tns:LoginEstacionGeneral"/>
<output wsam:Action="http://webservice/WS/LoginEstacionGeneralResponse" message="tns:LoginEstacionGeneralResponse"/>
</operation>
<operation name="CrearAdministrador">
<input wsam:Action="http://webservice/WS/CrearAdministradorRequest" message="tns:CrearAdministrador"/>
<output wsam:Action="http://webservice/WS/CrearAdministradorResponse" message="tns:CrearAdministradorResponse"/>
</operation>
<operation name="LoginAdministrador">
<input wsam:Action="http://webservice/WS/LoginAdministradorRequest" message="tns:LoginAdministrador"/>
<output wsam:Action="http://webservice/WS/LoginAdministradorResponse" message="tns:LoginAdministradorResponse"/>
</operation>
</portType>
<binding name="WSPortBinding" type="tns:WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GraficarAdministradores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginEstacionGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LoginAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS">
<port name="WSPort" binding="tns:WSPortBinding">
<soap:address location="http://localhost:8080/WebService/WS"/>
</port>
</service>
</definitions>